// Defaults
$background-color  : #5090BB;
$content-color     : #FFF;
$link-color        : #E32;

$meta              : gray;

// Breakpoints
$footer-menu       : 29em;
$menu              : 19em;
$small             : 35em;

// Border
$border-size       : .25em;

// Make content bigger
$extend-left-right : -2em;

// Content Indent
$content-padding        : 2rem;
$content-padding-small  : .5rem;

