.main-content{
  @extend %viewport;
  @extend %cf;

  padding:$content-padding;

  line-height:1.5;

  background:white;

  @include breakpoint($small){
    padding:$content-padding-small;
  }

  a{
    padding:.125em .15em;
    margin:0 -.1em;
    color: $link-color;
    text-decoration:none;

    @include transition(background-color .3s, color .2s);

    &:hover{
     color:$content-color;
     background: $link-color;
    }
  }

  p, h1, h2, h3, h4, h5, h6{
    padding-left:$content-padding;
    padding-right:$content-padding;
    @include breakpoint($small){
      padding-left:$content-padding-small;
      padding-right:$content-padding-small;
    }
  }
}


.archive-list{
  list-style:none;
  a{
    color:black;
    text-decoration:underline;
  }
  .date{
    float:right;
  }
}

.article-header{
  @extend %cf;


  h1{
    display: inline-block;
    font-size:2.25em;
    margin-top:0;
    float:left;
  }
  p{
    float: right;
    margin-top:0;
    color: $meta;
    font-size: .8em;
  }
  .date{
    margin-top: 1.5em
  }

  @include breakpoint($small){
    font-size:.95em;
  }
}


.image-center, .image-right-block, .image-left-block{
  display:block;
  margin: .25em auto;
}

.image-right{
  float: right;
  padding:0 0 1em 1em;
}

.image-left{
  float: left;
  padding:0 1em 1em 0;
}

.image-right-block{
  margin-right:0;
}
.image-left-block{
  margin-left:0;
}

aside{
  @extend %border-box;

  padding:.5em;
  margin-bottom: 1em;

  p,h1{
   margin:0 !important;
   padding:0 !important;
  }
}

blockquote{
  @extend .no-m;
  @extend %border-box;


  font-size:.8em;

  text-align: center;
  position: relative;
  padding:2.1em 0;

  p{
    @extend .no-m;
  }

  &:before,
  &:after{
    font-size:2em;
    font-weight: bold;
    color:$content-color;
    line-height: 1.25em;

    position:absolute;
    padding:0 .2em;
    background:$background-color;
  }
  &:before{
    content:'\201c';
    top:0;
    left:0;
  }
  &:after{
    content:'\201d';
    bottom:0;
    right:0;
  }
}

p{
  margin:.5em 0 .25em 0;
}

ol, ul{
  margin: .25em 0;
  padding-left: $content-padding;

  @include breakpoint($small){
    padding-left:1.6em;
  }
}

img{
  max-width: 100%;

  @include breakpoint($small) {
    display:block;
    // Force center the image
    float:none !important;
    padding:0 !important;
    margin: .25em auto;
  }
}



@import "_pagination.scss";