
@mixin breakpoint($point) {
  @media (max-width: $point) { @content; }
}

@mixin retina(){
  @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
     @content;
  }
}

@mixin breakpoint-min-max($point-min, $point-max){
  @media ( min-width: $point-min) and (max-width: $point-max) { @content; }
}

@mixin breakpoint-min($point-min){
  @media ( min-width: $point-min) { @content; }
}


.no-m{
  margin:0;
}
.no-p{
  padding:0;
}
.no-mp{
  @extend .no-m;
  @extend .no-p;
}

.full-width{
  margin-left:-$content-padding;
  margin-right:-$content-padding;
  border-left-width:0;
  border-right-width:0;
  @include breakpoint($small) {
    margin-left:-$content-padding-small;
    margin-right:-$content-padding-small;
  }
}


// To be extended
%cf:before,
%cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

%cf:after {
    clear: both;
}


%viewport{
  @include box-sizing(border-box);

  max-width:45em;
  margin:0 auto;

  @include breakpoint($small) {
    max-width:100%;
  }
}


%border-box{
  border:$border-size solid $background-color;
}


%link-list{
  @extend .no-mp;
  display:inline-block;

  list-style:none;
  text-transform:uppercase;
  text-align:center;

  li{
    display:inherit;
    cursor:pointer;


    background: $content-color;
    border-left:.5em solid $background-color;


    text-align: center;

    @include transition(box-shadow .5s);

    &:last-child{
      border-right:.5em solid $background-color;
    }

    &:hover{
     @include box-shadow(0 .25em $link-color inset);
    }
  }
  a{
    color:black;
    text-decoration: none;
  }
}